.page-banner {
    background-color: navy;
    color: white;
    font-size: 42px;
    font-weight: bold;
    height: 75px;
    margin: auto;
    padding-bottom: 10px;
}
.city-hero {
    border: solid 2px black;
    border-radius: 15px;

}

.city-forecast {
    border: solid 3px blue;
    height: auto;
    border-radius: 15px;
}

.day {
    background-color: orange;
}

.search-form {
    align-content: left;
}

.search-button {
    width: 100px;
    height: 40px;
    border-radius: 15px;
    background-color: blue;
    border: solid 2px black;
    color: white;
    text-align: center;
    font-weight: bold;
}

.icon {
    height: 50px;
    width: 50px;
}

.city-history {
    border: 2px solid blue;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
}

.forecast {
    font-size: 14px;
}

.day1 {
    font-size: 18px;
}